@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:"space" ;
    src: url("https://fonts.google.com/specimen/Space+Grotesk");
}
body{
    font-family: space,sans-serif;
}
*{
    box-sizing: border-box;
}





